.styleComponents {
    padding: 10px;
    border-radius: 30px;
    background-image: url("https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png");
}

.buttons {
    padding: 5px;
}