.settings {
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
    background-image: url("https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png");
}

.max {
    padding: 5px;
}

.start {
    padding: 5px;
}

.button {
    padding-top: 5px;
}

.error {
    border: red 2px solid;
    background-color: palevioletred;
}